/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: fixed;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'brand tools hamburger' var(--nav-height)
    'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 2em;
  margin: auto;
  max-width: 1264px;
  height: var(--nav-height);
  padding: 0 1rem;
  font-family: var(--body-font-family);
}

header nav[aria-expanded="true"] {
  grid-template:
    'hamburger brand' var(--nav-height)
    'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100vh;
}

@media (min-width: 600px) {
  header nav {
    padding: 0 2rem;
  }
}

@media (min-width: 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
  }

  header nav[aria-expanded="true"] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (min-width: 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
  background-color: var(--overlay-background-color);
}

header nav[aria-expanded="true"] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul  {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
}

header nav .nav-sections ul > li {
  font-weight: 700;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 500;
}

@media (min-width: 900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded="true"] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: .5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header nav .nav-sections .nav-drop[aria-expanded="true"]::after {
    top: unset;
    bottom: .5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 2em;
    margin: 0;
    font-size: var(--body-font-size-xs);
  }

  header nav .nav-sections > ul > li {
    flex: 0 1 auto;
    position: relative;
    font-weight: 500;
  }

  header nav .nav-sections > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections > ul > li[aria-expanded="true"] > ul {
    display: block;
    position: absolute;
    left: -1em;
    width: 200px;
    margin-top: 12px;
    padding: 1em;
    background-color: var(--highlight-background-color);
    white-space: initial;
  }

  header nav .nav-sections > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--highlight-background-color);
  }

  header nav .nav-sections > ul > li > ul > li {
    padding: 8px 0;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
}


body > header {
	color: #212529;
    background-color: rgba(255, 255, 255, 0);
    padding: 15px 0;
    transition: all 0.5s;
    z-index: 997;
    position: fixed;
    top: 0;
    align-items: center!important;
    right: 0;
    left: 0;
    display: flex!important;
}

body.scrolled > header {
	color: #212529;
    background-color: #ffffff;
	box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1);
}

body > header > div {
	align-items: center!important;
    justify-content: space-between!important;
    display: flex!important;
    width: 100%;
    padding-right: calc(1.5rem * .5);
    padding-left: calc(1.5rem * .5);
    margin-right: auto;
    margin-left: auto;
}

body > header > div > nav {
	align-items: center!important;
    width: 100%;
    padding-right: calc(1.5rem * .5);
    padding-left: calc(1.5rem * .5);
    margin-right: auto;
    margin-left: auto;
}

body > header > div > nav > div.nav-tools > p > a {
	color: #ffffff;
    background: #e84545;
    font-size: 14px;
    padding: 8px 26px;
    margin: 0;
    border-radius: 4px;
    transition: 0.3s;
}

/* Header */

/* header and nav layout */

header {
  height: unset;
  padding: 15px 0px;
}

header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: fixed;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    "hamburger brand tools" var(--nav-height)
    "sections sections sections" 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 2em;
  margin: auto;
  max-width: 1264px;
  max-width: initial;
  height: var(--nav-height);
  padding: 0 1rem;
  font-family: var(--body-font-family);
}

header nav[aria-expanded="true"] {
  grid-template:
    "hamburger brand" var(--nav-height)
    "sections sections" 1fr
    "tools tools" var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100vh;
}

@media (min-width: 600px) {
  header nav {
    padding: 0 2rem;
    padding: 0 1rem;
  }
}

@media (min-width: 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
  }

  header nav[aria-expanded="true"] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: #444444;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: none;
}

header nav .nav-sections .nav-drop ul li:hover {
  cursor: pointer;
}

header nav .nav-sections .nav-drop ul li a {
  font-weight: 500;
  color: #444444;
  padding: 0px 15px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

header nav .nav-sections .nav-drop ul li a:hover {
  color: #e84545;
  cursor: pointer;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: "";
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (min-width: 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
  flex-basis: 370px;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
  background-color: var(--overlay-color);
}

header nav[aria-expanded="true"] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
}

header nav .nav-sections ul > li {
  font-weight: 700;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 500;
}

@media (min-width: 900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded="true"] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 1.6rem;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header nav .nav-sections .nav-drop[aria-expanded="true"]::after {
    top: unset;
    bottom: 0.5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 0;
    margin: 0;
    font-size: var(--body-font-size-xs);
  }

  header nav .nav-sections > ul > li {
    flex: 0 1 auto;
    position: relative;
    font-weight: 500;
    color: #444444;
    padding: 18px 15px;
    font-family: "Lato", sans-serif;
    cursor: pointer;
  }

  header nav .nav-sections > ul > li:last-child {
    padding-left: 30px;
  }

  header nav .nav-sections > ul > li.active {
    color: #e84545;
  }

  header nav .nav-sections > ul > li:hover {
    color: #e84545;
  }

  header nav .nav-sections > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections > ul > li[aria-expanded="true"] > ul {
    display: block;
    position: absolute;
    left: -1em;
    width: 200px;
    margin-top: 12px;
    padding: 1em;
    background-color: #fff;
    box-shadow: 0px 0px 1px #695842;
    white-space: initial;
    z-index: 1;
  }

  header nav .nav-sections > ul > li > ul::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--highlight-background-color);
    display: none;
  }

  header nav .nav-sections > ul > li > ul > li {
    padding: 8px 0;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
}

header nav .nav-tools p a {
  border: 1px solid #e84545;
  padding: 8px 26px;
  border-radius: 5px;
  background: #e84545;
  color: #fff;
  font-size: 14px;
  font-family: "Open Sans", system-ui, -apple-system;
}

header .nav-sections .nav-drop:hover > ul {
  display: block;
}

header nav .nav-sections > ul > li:hover > ul {
  position: absolute;
  display: block;
  left: 0em;
  top: 50px;
  width: 200px;
  margin-top: 12px;
  padding: 1em;
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(33, 37, 41, 0.15);
  white-space: initial;
  z-index: 1;
  border-radius: 4px;
}


/* Header */
