/* block specific CSS goes here */

main .hero-container > div {
    max-width: unset;
}
  
main .hero-container {
    padding: 0;
}
  
main .hero {
    position: relative;
    padding: 32px;
    min-height: 300px;
}

main .hero h1 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
main .hero p {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}


main .hero picture {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    box-sizing: border-box;
}

main .hero img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

//postion for banner content
/* Extra small devices (phones) */
@media only screen and (min-width: 0px) and (max-width: 575px) {
  body > main > div.section.hero-container > div > div > div > div > h1 {
    position: relative;
    top: 50px;
    left: 0px;
    font-size: 32px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  body > main > div.section.hero-container > div > div > div > div > div {
	position: relative;
    top: 45px;
    left: 0px;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  body > main > div.section.hero-container > div > div > div > div > div > p.button-container > strong {
	position: relative;
    top: 10px;
    left: 0px;
    width: 100%;  
  }
  
  body > main > div.section.hero-container > div > div > div > div > div > p.button-container > strong > a {
	position: relative;
    right: 95px;
    top: -8px;
  }
  
  body > main > div.section.hero-container > div > div > div > div > div > p.button-container > strong > input {
	width: 100%; 
  }
}

/* Small devices (tablets) */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  body > main > div.section.hero-container > div > div > div > div > h1 {
    position: relative;
    top: 50px;
    left: 0px;
    font-size: 32px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  body > main > div.section.hero-container > div > div > div > div > div {
	position: relative;
    top: 45px;
    left: 0px;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  body > main > div.section.hero-container > div > div > div > div > div > p.button-container > strong {
	position: relative;
    top: 10px;
    left: 0px;
    width: 100%;  
  }
  
  body > main > div.section.hero-container > div > div > div > div > div > p.button-container > strong > a {
	position: relative;
    right: 95px;
    top: -8px;
  }
  
  body > main > div.section.hero-container > div > div > div > div > div > p.button-container > strong > input {
	width: 100%; 
  }
}

/* Medium devices (laptops, desktops) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body > main > div.section.hero-container > div > div > div > div > h1 {
    position: relative;
    top: 50px;
    left: 0px;
    font-size: 44px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  body > main > div.section.hero-container > div > div > div > div > div {
	position: relative;
    top: 45px;
    left: 0px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  body > main > div.section.hero-container > div > div > div > div > div > p.button-container > strong {
	position: relative;
    top: 10px;
    left: 0px;
    width: 100%;  
  }
  
  body > main > div.section.hero-container > div > div > div > div > div > p.button-container > strong > a {
	position: relative;
    right: 95px;
    top: -8px;
  }
  
  body > main > div.section.hero-container > div > div > div > div > div > p.button-container > strong > input {
	width: 100%; 
  }
}

/* Large devices (large desktops, wide screens) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  body > main > div.section.hero-container > div > div > div > div > h1 {
    position: relative;
    top: 50px;
    left: 0px;
    font-size: 44px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  body > main > div.section.hero-container > div > div > div > div > div {
	position: relative;
    top: 45px;
    left: 0px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  body > main > div.section.hero-container > div > div > div > div > div > p.button-container > strong {
	position: relative;
    top: 10px;
    left: 0px;
    width: 100%;  
  }
  
  body > main > div.section.hero-container > div > div > div > div > div > p.button-container > strong > a {
	position: relative;
    right: 95px;
    top: -8px;
  }
  
  body > main > div.section.hero-container > div > div > div > div > div > p.button-container > strong > input {
	width: 100%; 
  }
}

/* Extra large devices (ultra-wide screens) */
@media only screen and (min-width: 1200px) {
  body > main > div.section.hero-container > div > div > div > div > h1 {
    position: relative;
    top: 50px;
    left: 150px;
    font-size: 44px;
  }
  
  body > main > div.section.hero-container > div > div > div > div > div {
	position: relative;
    top: 45px;
    left: 150px;
    font-size: 20px;
  }
  
  body > main > div.section.hero-container > div > div > div > div > div > p.button-container > strong {
	position: relative;
    top: 10px;
    left: -75px;
    width: 100%;  
  }
  
  body > main > div.section.hero-container > div > div > div > div > div > p.button-container > strong > a {
	position: relative;
    right: 112px;
    top: -8px;
  }
  
  body > main > div.section.hero-container > div > div > div > div > div > p.button-container > strong > input {
	width: 70%; 
  }
}
