/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --background-color: #fff;
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --text-color: #000;

  /* fonts */
  --body-font-family: roboto, roboto-fallback;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 64px;

}

@font-face {
  font-family: 'Roboto', roboto-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}


@media (min-width: 900px) {
  :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: unset;
}

header {
  height: var(--nav-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 {
  font-size: var(--heading-font-size-xxl)
}

h2 {
  font-size: var(--heading-font-size-xl)
}

h3 {
  font-size: var(--heading-font-size-l)
}

h4 {
  font-size: var(--heading-font-size-m)
}

h5 {
  font-size: var(--heading-font-size-s)
}

h6 {
  font-size: var(--heading-font-size-xs)
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

code,
pre,
samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code,
samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link,
button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon svg {
  height: 100%;
  width: 100%;
}

main .section {
  padding: 64px 16px;
}

@media (min-width: 600px) {
  main .section {
    padding: 64px 32px;
  }
}

@media (min-width: 900px) {
  .section>div {
    max-width: 1200px;
    margin: auto;
  }
}

/* section metadata */
main .section.highlight {
  background-color: var(--highlight-background-color);
}


/*custom css*/

.sky-section {
  background-color: #040928;
  padding: 50px;
  color: #fff;
}

.quadrant>div>div {
  padding: 10px;
  margin: 10px;
  background-color: #040928;
  height: 200px;
  border-radius: 5px;
  color: #fff
}
.text-section{
  background-color: #040928;
  padding: 50px;
  color: #fff;
}

//Global level css change

body > main > div.section.columns-container.counter-container > div:nth-child(3) > div > div:nth-child(1) > div:nth-child(1){
    margin-top:20%;
}
body > main > div.section.columns-container.counter-container > div:nth-child(3) > div > div:nth-child(1) > div:nth-child(2){
  
border: 1px solid;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
	margin-bottom:20px;
	
}
body > main > div.section.columns-container.counter-container > div> div > div> div{
  padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
	margin-bottom:20px;
}

body > main > div.section.columns-container.counter-container > div.counter-wrapper > div{

    left : 20%;
    font-size: 24px;
    font-weight: bold;
}

	body > main > div.section.columns-container.counter-container > div:nth-child(1) > p:nth-child(2){
		position:absolute;
		top:28%;
		left:3%;
		color:#fff;
		font-size:16px;
	}

h2#-services- {
    text-align: center;
}

body > main > div.section.columns-container.counter-container > div:nth-child(1) > p:nth-child(3){
    position:absolute;
    top:33%;
    left:3%;
 
        padding: 10px;
        border-radius:5px;
}
   body > main > div.section.columns-container.counter-container > div:nth-child(1) > p:nth-child(3) > strong > a{
       background-color:green;
    height:40px;
       padding:7px;
       border-radius:5px;
       color:white;
   }

body > main > div.section.columns-container.counter-container > div:nth-child(3) > div > div:nth-child(2) > div:nth-child(2){
padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
	margin-bottom:20px;
  border: 1px solid;
}
body > main > div.section.columns-container.counter-container > div:nth-child(3) > div > div:nth-child(1) > div:nth-child(3)
{  padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
	margin-bottom:20px;
  border: 1px solid;
}
body > main > div.section.columns-container.counter-container > div:nth-child(3) > div > div:nth-child(2) > div:nth-child(3)
{  padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
	margin-bottom:20px;
  border: 1px solid;
}
body > main > div.section.columns-container.counter-container > div:nth-child(5) > p{
    text-align:center;
    
}
body > main > div.section.columns-container.counter-container > div:nth-child(6) > div > div > div:nth-child(1){
border-top: 2px solid;
    border-radius:0px;
}
body > main > div.section.columns-container.counter-container > div:nth-child(6) > div > div > div:nth-child(1) > p:nth-child(1){
        width: 10%;
    display: inline-block;
}
body > main > div.section.columns-container.counter-container > div:nth-child(6) > div > div > div:nth-child(1) > p:nth-child(2){
    display: inline;
    width: 90%;

}
body > main > div.section.columns-container.counter-container > div:nth-child(6) > div > div > div:nth-child(2) > p:nth-child(1){
     width: 10%;
    display: inline-block;
}
body > main > div.section.columns-container.counter-container > div:nth-child(6) > div > div > div:nth-child(2) > p:nth-child(2){
 display: inline;
    width: 90%;
}
body > main > div.section.columns-container.counter-container > div:nth-child(6) > div > div:nth-child(1) > div:nth-child(2){
    border-top: 2px solid;
    border-radius:0px;
}
body > main > div.section.columns-container.counter-container > div:nth-child(6) > div > div:nth-child(2) > div:nth-child(2){
border-top: 2px solid;
    border-radius:0px;
}
body > main > div.section.columns-container.counter-container > div:nth-child(6) > div > div:nth-child(3) > div:nth-child(2){border-top: 2px solid;
    border-radius:0px;
}

h2#-features {
    text-align: center;
}
body > main > div.section.columns-container.counter-container > div:nth-child(7) > p{
	 text-align: center;
}

body > main > div.section.columns-container.counter-container > div:nth-child(8) > div > div > div:nth-child(1) > p.button-container> a{
	background-color:#e84545;
}
body > main > div.section.columns-container.counter-container > div:nth-child(8) > div > div:nth-child(2) > div:nth-child(2) > p.button-container > a{
background-color:#e84545;
}

h2#-portfolio- {
    text-align: center;
}
body > main > div.section.columns-container.counter-container > div:nth-child(9) > p
{
	text-align: center;
}
body > main > div.section.columns-container.counter-container.buttons-container > div.buttons-wrapper > div{
    display:inline;
    text-align: center;
}
body > main > div.section.columns-container.counter-container.buttons-container > div.buttons-wrapper > div > div > div:nth-child(1){
    display:inline;
}
body > main > div.section.columns-container.counter-container.buttons-container > div.buttons-wrapper > div > div > div:nth-child(2){
    display:inline;
}
body > main > div.section.columns-container.counter-container.buttons-container > div.buttons-wrapper > div > div > div:nth-child(3){
    display:inline;
}
body > main > div.section.columns-container.counter-container.buttons-container > div.buttons-wrapper > div > div > div:nth-child(4){
    display:inline;
}
body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div:nth-child(2) > div > div > div:nth-child(1) > picture{
    filter : grayscale(100);
opacity : 0.5;

}
 body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div:nth-child(2) > div > div > div:nth-child(1) > picture:hover {
filter : none;
opacity : 1;

}


body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div:nth-child(2) > div > div > div:nth-child(2) > picture{
    filter : grayscale(100);
opacity : 0.5;

}
 body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div:nth-child(2) > div > div > div:nth-child(2) > picture:hover {
filter : none;
opacity : 1;

}


body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div:nth-child(2) > div > div > div:nth-child(3) > picture{
    filter : grayscale(100);
opacity : 0.5;

}
 body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div:nth-child(2) > div > div > div:nth-child(3) > picture:hover {
filter : none;
opacity : 1;

}


body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div:nth-child(2) > div > div > div:nth-child(4) > picture{
    filter : grayscale(100);
opacity : 0.5;

}
 body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div:nth-child(2) > div > div > div:nth-child(4) > picture:hover {
filter : none;
opacity : 1;

}
body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div:nth-child(2) > div > div > div:nth-child(5) > picture{
    filter : grayscale(100);
opacity : 0.5;

}
 body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div:nth-child(2) > div > div > div:nth-child(5) > picture:hover {
filter : none;
opacity : 1;

}
body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div:nth-child(2) > div > div > div:nth-child(6) > picture{
    filter : grayscale(100);
opacity : 0.5;

}
 body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div:nth-child(2) > div > div > div:nth-child(6) > picture:hover {
filter : none;
opacity : 1;
}
.section.columns-container.counter-container.buttons-container.cards-container.accordion-container {
    padding-top: 10px;
    padding-bottom: 10px;
}
body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div:nth-child(11) > p{
  text-align: center;  
}

h2#-pricing {
    text-align: center;
}

body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div.cards-wrapper > div > ul > li:nth-child(1){
    border:none;
}

h3#free-plan {
    text-align: center;
}
body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div.cards-wrapper > div > ul > li:nth-child(1) > div:nth-child(2) > p:nth-child(1) {
  width: 30%;
  margin-left: 35%;
}

#month {
    text-align: center;
}
body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div.cards-wrapper > div > ul > li:nth-child(1) > div:nth-child(2) > p.button-container{
  text-align:center;
}


body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div.cards-wrapper > div > ul > li:nth-child(1) > div:nth-child(2) > ul{
  margin-left:40px;
  list-style-position: inside;
}


body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div.cards-wrapper > div > ul > li:nth-child(1) > div:nth-child(2) > p.button-container > a{
    background-color:white;
    color:black;
    border: 1px solid;
    border-radius: 5px;
}

body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div.cards-wrapper > div > ul > li:nth-child(1) > div:nth-child(2) > p.button-container > a:hover{
    background-color:red;
    color:black;
    border: 1px solid;
    border-radius: 5px;
}

body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div.cards-wrapper > div > ul > li:nth-child(2) > div:nth-child(2) > p:nth-child(1) > picture{
      width: 30%;
}
body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div.cards-wrapper > div > ul > li:nth-child(2) > div:nth-child(2) > p:nth-child(1) > picture > img{

   width: 30%;
   text-align:center;
}

h3#business-plan {
    text-align: center;
}

h4#month-1 {
    text-align: center;
    font-size: xx-large;
}

body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div.cards-wrapper > div > ul > li:nth-child(2) > div:nth-child(2) > ul{
  margin-left:40px;
  list-style-position: inside;
}

body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div.cards-wrapper > div > ul > li:nth-child(2){
  height:430px;
  border-radius:5%;
  border: 2px solid #e84545;
}
body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div.cards-wrapper > div > ul > li:nth-child(2) > div:nth-child(2) > p.button-container > a{
  text-align:center;
  background:#e84545;
  border-radius: 5%;
}
body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div.cards-wrapper > div > ul > li:nth-child(2) > div:nth-child(2) > p.button-container > a:hover{
  text-align:center;
  background-color: white;
  color: black;
  border: 2px solid #e84545;
  border-radius: 5%;
}
body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div.cards-wrapper > div > ul > li:nth-child(2) > div:nth-child(2) > p{
  text-align:center;
}

body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div.cards-wrapper > div > ul > li:nth-child(3){
  border:none;
}

h3#developer-plan {
    text-align: center;
}

body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div.cards-wrapper > div > ul > li:nth-child(3) > div:nth-child(2) > p:nth-child(1) > picture > img{
  width: 30%;
  margin-left: 35%;
}

h4#month-2 {
    text-align: center;
}

body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div.cards-wrapper > div > ul > li:nth-child(3) > div:nth-child(2) > ul{
    margin-left:40px;
  list-style-position: inside;
}

body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div.cards-wrapper > div > ul > li:nth-child(3) > div:nth-child(2) > p.button-container > a{
    background-color:white;
  
    color:black;
    border: 1px solid;
    border-radius: 5px;
}

body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div.cards-wrapper > div > ul > li:nth-child(3) > div:nth-child(2) > p.button-container > a:hover{
    background-color:red;
    color:black;
    border: 1px solid;
    border-radius: 5px;
}

body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div.cards-wrapper > div > ul > li:nth-child(3) > div:nth-child(2) > p{
  text-align:center;
}
body > main > div.section.columns-container.counter-container > div:nth-child(1) > p:nth-child(3) {
    position: absolute;
    top: 33%;
    left: 3%;
    padding: 10px;
    width: 45%;
    border-radius: 5px;
    display: inline;
}
main input{
    width:70%;
}

body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div:nth-child(1) > p.button-container > a {
    position: absolute;
    display: inline;
    margin-left: 45%;
    border-radius: 5px;
    top: 4%;
    background-color: #e84545;
}
body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div:nth-child(3) > div > div:nth-child(2) > div:nth-child(3) > p:nth-child(1) > picture > img{
    max-width: 30%;
    margin-left:20%;
}
body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div:nth-child(3) > div > div:nth-child(2) > div:nth-child(2) > p:nth-child(1) > picture > img{
    max-width: 30%;
    margin-left:20%;
}
body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div:nth-child(3) > div > div:nth-child(1) > div:nth-child(2) > p:nth-child(1) > picture > img{
    max-width: 30%;
    margin-left:20%;
}
body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div:nth-child(3) > div > div:nth-child(1) > div:nth-child(3) > p:nth-child(1) > picture > img{
    max-width: 30%;
    margin-left:20%;
}

body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div:nth-child(3) > div > div:nth-child(1) > div:nth-child(1) {
position: relative;
top : 250px;
}

body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div:nth-child(3) > div > div:nth-child(1) > div:nth-child(1) > p.button-container > em > a{
    background-color:red;
    border:none;
    border-radius:5px;
    color:white;
}

body > main > div.section.columns-container.counter-container.buttons-container.cards-container.accordion-container > div:nth-child(3) > div > div:nth-child(1) > div:nth-child(1) > p.button-container > em > a:hover{
    background-color:white;
    border: 1px solid;
    border-radius:5px;
    color:black;
}
body > main > div:nth-child(2)
{
display:none;
}	
//greefin css changes
body > main > div:nth-child(11) {
    color: #212529;
    background-color: #ffffff;
    padding: 60px 0;
    overflow: clip;
}

body > main > div:nth-child(11) > div.default-content-wrapper {
    text-align: center;
    padding-bottom: 60px;
}

body > main > div:nth-child(11) > div.default-content-wrapper > h2#-team- {
    color: #32353a
    font-size: 32px;
    font-weight: 700;
    position: relative;
    font-family: "Montserrat", sans-serif;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

body > main > div:nth-child(11) > div.columns-wrapper > div > div > div > p:nth-child(1) {
	margin: 0 80px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: 4px solid #ffffff;
    box-shadow: 0 15px 35px -10px rgba(0, 0, 0, 0.2);
}

body > main > div:nth-child(11) > div.columns-wrapper > div > div > div > p:nth-child(3) {
	font-style: italic;
    display: block;
    font-size: 15px;
    color: rgba(33, 37, 41, 0.6);
    margin-bottom: 10px;
}

body > main > div:nth-child(11) > div.columns-wrapper > div > div > div {
	text-align: center;
}

body > main > div:nth-child(11) > div.columns-wrapper > div > div > div > h4 {
	color: #32353a;
	margin-top: 30px;
	font-weight: 700;
    margin-bottom: 6px;
    font-size: 18px;
	font-family: "Montserrat", sans-serif;
}

body > main > div:nth-child(12) {
	color: #ffffff;
    background: #000000;
    padding: 80px 0;
    position: relative;
    clip-path: inset(0);
}

body > main > div:nth-child(12):before {
	content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    inset: 0;
    z-index: 2;
}

body > main > div:nth-child(12) > div > p:nth-child(1) > picture {
	position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1;
    vertical-align: middle;
}

body > main > div:nth-child(12) > div > p:nth-child(1) > picture > img {
	object-fit: cover;
	height: auto;
	width: 100%;
}

body > main > div:nth-child(12) > div > h1#call-to-action, body > main > div:nth-child(12) > div > p:nth-child(3), body > main > div:nth-child(12) > div > p:nth-child(4).button-container {
	font-family: "Montserrat", sans-serif;
	position: relative;
    text-align: center;
    z-index: 3;
	line-height: 1.5;
}

body > main > div:nth-child(12) > div > p:nth-child(3) {
	font-size: 1.2rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body > main > div:nth-child(12) > div.default-content-wrapper, body > main > div:nth-child(11) > div.default-content-wrapper {
		max-width: 460px;
		margin: auto;
	}
	
	body > main > div.section.cards-container.forms-container > div.row > div.cards-wrapper.col-lg-6 > div > ul > li {
		width: 95%;
	}
	
	body > main > div.section.cards-container.forms-container > div.row > div.forms-wrapper.col-lg-6, body > main > div:nth-child(14) > div.cards-wrapper > div, body > main > div:nth-child(9) > div.cards-wrapper > div, body > main > div:nth-child(9) > div.default-content-wrapper, body > main > div:nth-child(11) > div.default-content-wrapper, body > main > div:nth-child(12) > div, body > main > div:nth-child(14) > div.default-content-wrapper, body > main > div.section.cards-container.forms-container > div.default-content-wrapper {
		padding: 0px 30px;
	}
	
	body > main > div.section.cards-container.forms-container > div.row > div.cards-wrapper.col-lg-6 {
		padding-right: 0px;
	}
	
	body > footer > div > div > div > div > div > div:nth-child(4) > p, body > footer > div > div > div > div > div > div:nth-child(4) > h6, body > footer > div > div > div > div > div > div:nth-child(4) > h4 {
		display: block;
		text-align: center;
	}
	
	body > main > div.section.button-container > div > div > div > div > a {
		display: none;
	}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body > main > div:nth-child(12) > div.default-content-wrapper, body > main > div:nth-child(11) > div.default-content-wrapper {
		max-width: 540px;
		margin: auto;
	}
	
	body > main > div.section.cards-container.forms-container > div.row > div.cards-wrapper.col-lg-6 > div > ul > li {
		width: 45%;
	}
	
	body > main > div.section.cards-container.forms-container > div.row > div.forms-wrapper.col-lg-6, body > main > div:nth-child(14) > div.cards-wrapper > div, body > main > div:nth-child(9) > div.cards-wrapper > div, body > main > div:nth-child(9) > div.default-content-wrapper, body > main > div:nth-child(11) > div.default-content-wrapper, body > main > div:nth-child(12) > div, body > main > div:nth-child(14) > div.default-content-wrapper, body > main > div.section.cards-container.forms-container > div.default-content-wrapper {
		padding: 0px 30px;
	}
	
	body > main > div.section.cards-container.forms-container > div.row > div.cards-wrapper.col-lg-6 {
		padding-right: 0px;
	}
	
	body > footer > div > div > div > div > div > div:nth-child(4) > p, body > footer > div > div > div > div > div > div:nth-child(4) > h6 {
		display: flex;
	}
	
	body > main > div.section.button-container > div > div > div > div > a {
		display: flex;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body > main > div:nth-child(12) > div.default-content-wrapper, body > main > div:nth-child(11) > div.default-content-wrapper {
		max-width: 720px;
		margin: auto;
	}

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body > main > div:nth-child(12) > div.default-content-wrapper, body > main > div:nth-child(11) > div.default-content-wrapper {
		max-width: 960px;
		margin: auto;
	}
	
	body > footer > div > div > div > div > div > div.col-lg-5.col-md-12 {
		flex: 2;
	}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body > main > div:nth-child(12) > div.default-content-wrapper, body > main > div:nth-child(11) > div.default-content-wrapper {
		max-width: 1140px;
		margin: auto;
	}	
}

body > main > div:nth-child(12) > div > h1#call-to-action {
	font-size: 28px;
    font-weight: 700;
    color: #ffffff;
}

body > main > div:nth-child(12) > div > p.button-container > a {
	font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 5px;
    transition: 0.5s;
	background: none;
    margin: 10px;
    border: 2px solid #ffffff;
    color: #ffffff;
}

body > main > div:nth-child(14) {
    color: #212529;
    background-color: #ffffff;
    padding: 60px 0;
    overflow: clip;
}

body > main > div:nth-child(14) > div.default-content-wrapper {
    text-align: center;
    padding-bottom: 60px;
}

body > main > div:nth-child(14) > div.default-content-wrapper > h2#-recent-posts {
    color: #32353a
    font-size: 32px;
    font-weight: 700;
    position: relative;
    font-family: "Montserrat", sans-serif;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

body > main > div:nth-child(14) > div.cards-wrapper > div > ul > li > div.cards-card-body > p:nth-child(3) > picture > img {
	width: 50px;
    border-radius: 50%;
    height: 50px;
    margin-right: 15px;
    max-width: 100%;
}

body > main > div:nth-child(14) > div.cards-wrapper > div > ul > li {
	background-color: #ffffff;
    box-shadow: 0 4px 16px rgba(33, 37, 41, 0.1);
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    border: none;
}

body > main > div:nth-child(14) > div.cards-wrapper > div > ul > li > div.cards-card-body {
	padding: 15px 30px;
}

body > main > div:nth-child(14) > div.cards-wrapper > div > ul > li > div.cards-card-body > p:nth-child(1) {
	font-size: 16px;
    color: rgba(33, 37, 41, 0.5);
    margin-bottom: 10px;
	margin-top: 0;
	font-weight: 400;
	line-height: 1.5;
	font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body > main > div:nth-child(14) > div.cards-wrapper > div > ul > li > div.cards-card-body > p:nth-child(2) {
	color: #32353a;
	text-decoration: none;
	font-size: 20px;
    font-weight: 600;
	font-family: "Montserrat", sans-serif;
	line-height: 1.2;
	cursor: pointer;
	padding: 0;
    margin: 0 0 20px 0;
}

body > main > div:nth-child(14) > div.cards-wrapper > div > ul > li > div.cards-card-body > p:nth-child(4) {
    font-weight: 600;
	font-size: 1rem;
	line-height: 1.5;
	font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	margin-bottom: 5px;
	margin-top: 0;
}

body > main > div:nth-child(14) > div.cards-wrapper > div > ul > li > div.cards-card-body > p:nth-child(5) {
    font-weight: 400;
	font-size: 14px;
	line-height: 1.5;
	color: rgba(33, 37, 41, 0.5);
	font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body > main > div:nth-child(9) {
    color: #212529;
    background-color: #ffffff;
    padding: 60px 0;
    overflow: clip;
}

body > main > div:nth-child(9) > div.default-content-wrapper {
    text-align: center;
    padding-bottom: 60px;
}

body > main > div:nth-child(9) > div.default-content-wrapper > h2#-pricing {
    color: #32353a;
    font-size: 32px;
    font-weight: 700;
    position: relative;
    font-family: "Montserrat", sans-serif;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

body > main > div:nth-child(9) > div.default-content-wrapper > p {
	margin-bottom: 40px;
}

body > main > div:nth-child(9) > div.cards-wrapper > div > ul > li > div:nth-child(1) > h3 {
	color: #32353a;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
	font-family: "Montserrat", sans-serif;
}

body > main > div:nth-child(9) > div.cards-wrapper > div > ul > li:nth-child(2) {
	z-index: 10;
    border: 3px solid #e84545;
	transform: scale(1.15);
}

body > main > div:nth-child(9) > div.cards-wrapper > div > ul > li {
	border: none;
	background: #ffffff;
    box-shadow: 0 3px 20px -2px rgba(33, 37, 41, 0.1);
    padding: 60px 40px;
    height: 100%;
    position: relative;
    border-radius: 15px;
}

body > main > div:nth-child(9) > div.cards-wrapper > div > ul > li > div:nth-child(2) > h4 > strong {
	font-size: 48px;
    color: #e84545;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 25px;
    text-align: center;
}

body > main > div:nth-child(9) > div.cards-wrapper > div > ul > li > div:nth-child(2) > h4 {
	color: rgba(33, 37, 41, 0.5);
    font-size: 18px !important;
    font-weight: 400;
	font-family: "Montserrat", sans-serif;
	line-height: 1.2;
}

body > main > div:nth-child(9) > div.cards-wrapper > div > ul > li > div:nth-child(2) > ul > li {
	font-family: "Montserrat", sans-serif;
	padding: 10px 0;
    display: flex;
    align-items: center;
}

body > main > div:nth-child(9) > div.cards-wrapper > div > ul > li > div:nth-child(2) > p.button-container > a {
	font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 5px;
    transition: 0.5s;
	background: none;
    margin: 10px;
    border: 1px solid rgba(33, 37, 41, 0.2);
    color: rgba(33, 37, 41, 0.8);
}

body > main > div:nth-child(9) > div.cards-wrapper > div > ul > li > div:nth-child(2) > p.button-container > a:hover {
	background-color: rgba(232, 69, 69, 0.9);
	color: #ffffff;
}

body > main > div.section.cards-container.forms-container {
    color: #212529;
    background-color: #ffffff;
    padding: 60px 0;
    overflow: clip;
}

body > main > div.section.cards-container.forms-container > div.default-content-wrapper {
    text-align: center;
    padding-bottom: 60px;
}

body > main > div.section.cards-container.forms-container > div.default-content-wrapper > h2#-contact- {
    color: #32353a
    font-size: 32px;
    font-weight: 700;
    position: relative;
    font-family: "Montserrat", sans-serif;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

body > main > div:nth-child(6) {
    color: #212529;
    background-color: #ffffff;
    padding: 60px 0;
    overflow: clip;
}

body > main > div:nth-child(6) > div.default-content-wrapper {
    text-align: center;
    padding-bottom: 60px;
}

body > main > div:nth-child(6) > div.default-content-wrapper > h2#-services- {
    color: #32353a
    font-size: 32px;
    font-weight: 700;
    position: relative;
    font-family: "Montserrat", sans-serif;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

body > main > div.section.cards-container.forms-container > div.default-content-wrapper > p {
    margin-bottom: 0;
}

body > main > div.section.cards-container.forms-container > div.row > div.cards-wrapper.col-lg-6 > div > ul > li {
    display: inline;
    float:left;
    padding: 30px;
    margin: 10px;
    border: none;
    background-color: #f7f7f7;
}

body > main > div.section.cards-container.forms-container > div.row > div.cards-wrapper.col-lg-6 > div > ul {overflow: hidden;white-space: nowrap;display: unset;}

body > main > div.section.cards-container.forms-container > div.row > div.cards-wrapper.col-lg-6 > div > ul > li > div.cards-card-body > h3:nth-child(1) {
    color: #32353a;
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0 10px 0;
    font-family: "Montserrat", sans-serif;
}

body > main > div.section.cards-container.forms-container > div.row > div.cards-wrapper.col-lg-6 > div > ul > li > div.cards-card-body > h3:nth-child(2), body > main > div.section.cards-container.forms-container > div.row > div.cards-wrapper.col-lg-6 > div > ul > li > div.cards-card-body > h3:nth-child(3), body > main > div.section.cards-container.forms-container > div.row > div.cards-wrapper.col-lg-6 > div > ul > li > div.cards-card-body > p, body > main > div.section.cards-container.forms-container > div.row > div.cards-wrapper.col-lg-6 > div > ul > li > div.cards-card-body > h5 {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body > main > div.section.cards-container.forms-container > div.row > div.cards-wrapper.col-lg-6 > div > ul > li > div.cards-card-image > picture > img {
 width: 50%;
 height: 90px;
 object-fit: contain;
}

body > main > div.section.cards-container.forms-container > div.row > div.cards-wrapper.col-lg-6 > div > ul > li:nth-child(4) > div.cards-card-image > picture > img {
 width: 20%;
 height: 90px;
 margin-left: 30px;
 object-fit: contain;
}

body > main > div.section.cards-container.forms-container > div.row > div.forms-wrapper.col-lg-6 > div > div > div:nth-child(1) > form > div.form-text-wrapper.field-wrapper > input[type=text] {
	font-size: 14px;
    padding: 10px 15px;
    box-shadow: none;
    border-radius: 0;
    color: #212529;
    background-color: rgba(255, 255, 255, 0.5);
    border-color: rgba(33, 37, 41, 0.2);
	width: 100%;
}

body > main > div.section.cards-container.forms-container > div.row > div.forms-wrapper.col-lg-6 > div > div > div:nth-child(1) > form > div.form-textarea-wrapper.field-wrapper > textarea {
	font-size: 14px;
    padding: 10px 15px;
    box-shadow: none;
    border-radius: 0;
    color: #212529;
    background-color: rgba(255, 255, 255, 0.5);
    border-color: rgba(33, 37, 41, 0.2);
	min-height: calc(1.5em + 0.75rem + calc(1px * 2));
	width: 100%;
	margin-top: 1.5rem;
}

body > main > div.section.cards-container.forms-container > div.row > div.forms-wrapper.col-lg-6 > div > div > div:nth-child(1) > form > div.form-submit-wrapper.form-submit.field-wrapper > button {
	background: #e84545;
    color: #ffffff;
    border: 0;
    padding: 10px 30px;
    transition: 0.4s;
    border-radius: 4px;
    text-transform: none;
}

body > main > div.section.cards-container.forms-container > div.row > div.forms-wrapper.col-lg-6 > div > div > div:nth-child(1) > form > div.form-submit-wrapper.form-submit.field-wrapper {
	text-align: center;
	margin-top: 1.5rem;
}

body > main > div.section.cards-container.forms-container > div.row > div.forms-wrapper.col-lg-6 > div {
	background: #f7f7f7;
    padding: 10px 30px;
    height: 100%;
}


body > main > div.section.hero-container > div > div {
	width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 160px 0 80px 0;
    display: flex;
    color: #ffffff;
    overflow: clip;
}

body > main > div.section.hero-container > div > div:before {
	content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    inset: 0;
    z-index: 2;
}

body > main > div.section.hero-container > div > div > div > div > picture > img {
	position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

body > header > div > nav > div.nav-brand > h1#append > strong > a, body > header > div > nav > div.nav-hamburger > div, body > header > div > nav > div.nav-sections > ul > li {
	color: #ffffff;
}

body.scrolled > header > div > nav > div.nav-brand > h1#append > strong > a, body.scrolled > header > div > nav > div.nav-sections > ul > li, body.scrolled > header > div > nav > div.nav-hamburger > div {
	color: #444444;
}

body > header > div > nav > div.nav-brand > h1#append {
	font-size: 24px;
    margin: 0;
    font-weight: 400;
	font-family: "Montserrat", sans-serif;
	line-height: 1.2;
}

body > header > div > nav > div.nav-brand > h1#append > strong > a {
	text-decoration: none;
    transition: 0.3s;
}

body > header > div > nav > div.nav-sections > ul > li {
	padding: 18px 15px;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
	text-decoration: none;
	cursor: pointer;
}

body > header > div > nav > div.nav-sections {
	background: none;
}

body > header > div > nav > div.nav-sections > ul {
	margin: 0;
    padding: 0;
    display: flex;
	gap: 0px;
    list-style: none;
    align-items: center;
}

body > header > div > nav > div.nav-sections > ul > li.nav-drop:after {
	font-size: 12px;
    margin-left: 5px;
    transition: 0.3s;
	position: relative;
    top: 0;
    left: 2px;
	display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
}

/* Footer Section */

body > footer > div > div > div > p {
	text-align: center!important;
    font-size: 14px;
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    line-height: 1.5;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #eaeaea;
}

body > footer > div > div > div > div > div > div> h1#append {
	color: #32353a;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 25px;
    font-family: "Montserrat", sans-serif;
}

body > footer > div > div > div > div > div > div:nth-child(1) > p {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #212529;
    font-weight: 400;
    line-height: 1.5;
}

body > footer > div > div > div > div > div > div:nth-child(2) > h4, body > footer > div > div > div > div > div > div:nth-child(3) > h4, body > footer > div > div > div > div > div > div:nth-child(4) > h4 {
	color: #32353a;
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    position: relative;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 12px;
}

body > footer > div > div > div > div > div > div:nth-child(2) > p, body > footer > div > div > div > div > div > div:nth-child(3) > p {
	color: rgba(33, 37, 41, 0.8);
    display: flex;
    line-height: 1;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px 0;
    list-style: none;
    font-weight: 400;
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    align-items: center;
    text-decoration: none;
}

body > footer > div > div > div > div > div > div:nth-child(4) > p, body > footer > div > div > div > div > div > div:nth-child(4) > h6 {
	color: rgba(33, 37, 41, 0.8);
    line-height: 1;
    transition: 0.3s;
    list-style: none;
    font-weight: 400;
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    align-items: center;
    text-decoration: none;
}

body > footer > div > div > div > div > div > div:nth-child(4) > p {
	padding: 10px 0px;
}

body > footer > div > div > div > div > div > div:nth-child(2) > p > u:hover, body > footer > div > div > div > div > div > div:nth-child(3) > p > u:hover {
	color: #e84545;
}

body > footer {
	color: #212529;
    background-color: #f4f4f4;
}

body > footer > div > div > div > div > div {
	padding-bottom: 50px;
    padding-top: 30px;
    align-items: unset !important;
}

/* Click to Top button */

body.scrolled > main > div.section.button-container > div > div > div > div > a {
	position: fixed;
    right: 15px;
    align-items: center!important;
    justify-content: center!important;
    bottom: 15px;
    z-index: 99999;
    background-color: #e84545;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
	padding: 0px;
}

body > main > div.section.button-container > div > div > div > div > a {
	visibility: visible;
    opacity: 1;
}

body > main > div.section.button-container {
	display: contents;
}

/* Counter */
body > main > div:nth-child(5) {
	position: relative;
    padding: 120px 0;
}

body > main > div:nth-child(5):before {
	content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    inset: 0;
    z-index: 2;
}

body > main > div:nth-child(5) > div.default-content-wrapper > p > picture > img {
	position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 1;
}

body > main > div:nth-child(5) > div.columns-wrapper {
	z-index: 3;
	position: relative;
}

body > main > div:nth-child(5) > div.columns-wrapper > div > div:nth-child(1) > div {
	font-size: 48px;
    display: block;
    color: #ffffff;
    font-weight: 700;
	text-align: center;
}

body > main > div:nth-child(5) > div.columns-wrapper > div > div:nth-child(2) > div > h3 {
	padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.6);
	text-align: center;
}

body > main > div.section.columns-container.cards-container {
    color: #212529;
    background-color: #ffffff;
    padding: 60px 0;
    overflow: clip;
}

body > main > div.section.columns-container.cards-container > div.default-content-wrapper {
    text-align: center;
    padding-bottom: 60px;
}

body > main > div.section.columns-container.cards-container > div.default-content-wrapper > h2#-portfolio- {
    color: #32353a;
    font-size: 32px;
    font-weight: 700;
    position: relative;
    font-family: "Montserrat", sans-serif;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

body > main > div.section.columns-container.cards-container > div.columns-wrapper > div > div > div {
	flex: unset;
}

body > main > div.section.columns-container.cards-container > div.columns-wrapper > div > div > div > a {
	cursor: pointer;
    display: inline-block;
    padding: 8px 20px 10px 20px;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 5px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    font-family: "Lato", sans-serif;
    background-color: #e84545;
    color: #ffffff;
}

body > main > div.section.columns-container.cards-container > div.columns-wrapper > div > div {
	margin: 0 auto 20px auto;
    justify-content: center;
    width: 100%;
}

/* Testimonials */

body > main > div:nth-child(13) {
	background-color: #f4f4f4;
}

body > main > div:nth-child(13) > div > div.col-lg-5 > h2 {
	text-align: left;
    font-weight: 700;
    font-size: 32px;
    font-family: "Montserrat", sans-serif;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    color: #32353a;
}

body > main > div:nth-child(13) > div > div.col-lg-5 > p {
	text-align: left;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #32353a;
}

body > main > div:nth-child(13) > div > div.col-lg-7 {
	background-color: #ffffff;
}

body > main > div:nth-child(6) > div.columns-wrapper > div > div > div > p:nth-child(1) > picture > img {
	width: 65px;
    height: 65px;
    position: relative;
    margin-right: 100px;
    line-height: 0;
}

body > main > div:nth-child(6) > div.columns-wrapper > div > div > div > p:nth-child(1) > picture:before {
	position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    background: rgba(232, 69, 69, 0.3);
    border-radius: 50px;
    z-index: 1;
    top: 80px;
    left: 40px;
    transition: 0.3s;
}

body > main > div:nth-child(6) > div.columns-wrapper > div > div > div {
	display: flex;
	position: relative;
    padding-top: 40px;
}

body > main > div:nth-child(6) > div.columns-wrapper > div > div > div:before {
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: rgba(33, 37, 41, 0.1);
}

body > main > div:nth-child(6) > div.columns-wrapper {
	padding-left: 30px;
	padding-right: 30px;
}

body > main > div:nth-child(7) {
    color: #212529;
    background-color: #ffffff;
    padding: 60px 0;
    overflow: clip;
}

body > main > div:nth-child(7) > div.default-content-wrapper {
    text-align: center;
    padding-bottom: 60px;
}

body > main > div:nth-child(7) > div.default-content-wrapper > h2#-features {
	color: #32353a;
    font-size: 32px;
    font-weight: 700;
    position: relative;
    font-family: "Montserrat", sans-serif;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

body > main > div:nth-child(7) > div.columns-wrapper > div > div:nth-child(1) > div:nth-child(1) > h3, body > main > div:nth-child(7) > div.columns-wrapper > div > div:nth-child(2) > div:nth-child(2) > h3 {
	font-weight: 700;
    font-size: 26px;
	color: #32353a;
	font-family: "Montserrat", sans-serif;
}

body > main > div:nth-child(7) > div.columns-wrapper > div > div:nth-child(1) > div:nth-child(1) > p:nth-child(2), body > main > div:nth-child(7) > div.columns-wrapper > div > div:nth-child(2) > div:nth-child(2) > p:nth-child(2), body > main > div:nth-child(7) > div.columns-wrapper > div > div:nth-child(2) > div:nth-child(2) > ul {
	margin-top: 0;
    margin-bottom: 1rem;
	color: rgba(33, 37, 41, 0.8);
	font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body > main > div:nth-child(7) > div.columns-wrapper > div > div:nth-child(1) > div:nth-child(1) > p.button-container > a, body > main > div:nth-child(7) > div.columns-wrapper > div > div:nth-child(2) > div:nth-child(2) > p.button-container > a {
	background-color: rgba(232, 69, 69, 0.9);
    color: #ffffff;
    padding: 8px 30px 10px 30px;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body > main > div:nth-child(4) > div > div > div:nth-child(1) > div:nth-child(1), body > main > div:nth-child(4) > div > div > div:nth-child(2) > div:nth-child(1) {
	flex: 2;
}

body > main > div:nth-child(4) > div > div > div:nth-child(1) > div:nth-child(1) > h2#about-us {
	font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    padding: 10px 20px;
    background: rgba(232, 69, 69, 0.05);
    color: #e84545;
    border-radius: 7px;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

body > main > div:nth-child(4) > div > div > div:nth-child(1) > div:nth-child(1) > h2#ducimus-rerum-libero-reprehenderit-cumque {
	color: #32353a;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    margin-top: 0;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

body > main > div:nth-child(4) > div > div > div:nth-child(1) > div:nth-child(1) > p.button-container > em > a {
	background: #e84545;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 12px 24px;
    border-radius: 5px;
    transition: 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

body > main > div:nth-child(4) > div > div > div:nth-child(1) > div:nth-child(2), body > main > div:nth-child(4) > div > div > div:nth-child(1) > div:nth-child(3), body > main > div:nth-child(4) > div > div > div:nth-child(2) > div:nth-child(2), body > main > div:nth-child(4) > div > div > div:nth-child(2) > div:nth-child(3) {
	padding: 50px 40px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: all 0.3s ease-out 0s;
    background-color: #ffffff;
}

body > main > div:nth-child(4) > div > div > div:nth-child(1) > div:nth-child(2) > p:nth-child(1) > picture > img, body > main > div:nth-child(4) > div > div > div:nth-child(1) > div:nth-child(3) > p:nth-child(1) > picture > img, body > main > div:nth-child(4) > div > div > div:nth-child(2) > div:nth-child(2) > p:nth-child(1) > picture > img, body > main > div:nth-child(4) > div > div > div:nth-child(2) > div:nth-child(3) > p:nth-child(1) > picture > img {
	width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 0;
    transition: all 0.4s ease-out 0s;
}

body > main > div:nth-child(4) > div > div > div:nth-child(1) > div:nth-child(2) > h3, body > main > div:nth-child(4) > div > div > div:nth-child(1) > div:nth-child(3) > h3, body > main > div:nth-child(4) > div > div > div:nth-child(2) > div:nth-child(2) > h3, body > main > div:nth-child(4) > div > div > div:nth-child(2) > div:nth-child(3) > h3 {
	color: #32353a;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

body > main > div:nth-child(4) > div > div > div:nth-child(1) > div:nth-child(2) > p:nth-child(3), body > main > div:nth-child(4) > div > div > div:nth-child(1) > div:nth-child(3) > p:nth-child(3), body > main > div:nth-child(4) > div > div > div:nth-child(2) > div:nth-child(2) > p:nth-child(3), body > main > div:nth-child(4) > div > div > div:nth-child(2) > div:nth-child(3) > p:nth-child(3) {
	font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body > main > div:nth-child(4) {
	background-color: #f4f4f4;
}

body > main > div:nth-child(4) > div > div > div:nth-child(1) > div:nth-child(1) {
	position: relative;
    top: 210px;
}

body > main > div:nth-child(3) > div > div > div > div > picture > img {
	padding: 40px;
    max-width: 100%;
    transition: 0.3s;
    opacity: 0.5;
    filter: grayscale(100);
}

body > main > div:nth-child(3) > div > div > div > div > picture > img:hover {
	filter: none;
    opacity: 1;
}

body > main > div:nth-child(3) {
	padding: 0px;
}

body > main > div:nth-child(3) > div > div > div > div {
	display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
    padding-right: calc(1.5rem * .5);
    padding-left: calc(1.5rem * .5);
}

body > main > div.section.hero-container > div > div > div > div > h1 {
	opacity: 1;
    position: relative;
    top: 50px;
    left: 150px;
    z-index: 3;
    letter-spacing: 2px;
    margin: 0;
    line-height: 1.2;
    color: #ffffff;
    font-size: 44px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

body > main > div.section.hero-container > div > div > div > div > div {
	opacity: 1;
    position: relative;
    top: 45px;
    left: 150px;
    z-index: 3;
    margin: 0;
    line-height: 1.5;
    margin: 5px 0 0 0;
    font-size: 20px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

body > main > div.section.hero-container > div > div > div > div > div > p.button-container > strong {
	display: flex;
    flex-direction: row-reverse;
    position: relative;
    top: 10px;
    left: -75px;
}

body > main > div.section.hero-container > div > div > div > div > div > p.button-container > strong > a {
	position: relative;
    right: 112px;
    top: -8px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
    background-color: #e84545;
    border-color: #e84545;
    padding: 8px 20px 10px 20px;
    border-radius: 7px;
    color: #ffffff;
    font-family: var(--bs-btn-font-family);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

body > main > div:nth-child(11) {
	background-color: #f4f4f4;
}
